.Header__container {
  padding: 0;
}

.Header__navigation-container {
  display: flex;
  justify-content: center;
}

.Header__goto-link {
  background: var(--pink);
}

.Header__goto-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  color: #fff;
}

.Header__goto-link:hover {
  background: var(--pink-hovered);
}
