.container {
  background: #080808;
  height: 100%;
}

.menuContainer {
  padding: 30px 40px;
}

.menuContainer a {
  color: #ddd;
  font-weight: normal;
}

.menuContainer a:hover {
  color: #fff;
}

.siteLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  color: #3a1c1c;
  font-size: 1.2em;
  background: linear-gradient(to top left, var(--pink), var(--yellow));
  border-bottom: 1px solid #151515;
}

.siteLink:hover {
  background: linear-gradient(to top left, var(--pink) 20%, var(--yellow));
  color: #3a1c1c;
  text-decoration: none;
}
