.root {
  background: #222;
  margin: 40px 0 30px;
}

.header {
  display: flex;
  padding: 10px 20px;
  background: #191919;
}

.buttons {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(3, 1fr);
}

.button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.close {
  background: #e45f65;
}

.minimize {
  background: #f0b23f;
}

.fullscreen {
  background: #31b941;
}

.content {
  padding: 20px 30px;
  color: #ccc;
}

.content code {
  color: #ccc;
}

.content code b {
  color: #fff;
}

.contentSuccess {
  color: #90ee90;
}
