:root {
  --text-foreground: #eee;
  --body-background: #151515;
  --link-foreground: #ddd;
  --link-foreground-hover: #fff;
  --pink: #f91145;
  --pink-hovered: #b9052d;
  --yellow: #e6c16e;
  --yellow-hovered: #e4bc49;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-foreground);
  background: var(--body-background);
}

hr {
  background: #333;
}

a {
  color: var(--pink);
  font-weight: bold;
}

a:hover {
  color: var(--pink-hovered);
}
