:root {
  --primary: #1fac73;
  --text-foreground: #eee;
  --text-background: #111;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-foreground);
  background: var(--text-background);
}
