.shortInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.placesGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.placeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px;
  border-radius: 4px;
  background: #222;
  box-shadow: 0 3px 25px rgb(0, 0, 0, 0.3);
}

.placeCardTitle {
  font-weight: bold;
}
